*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    /* justify-content: center; */

}
h1{
    color: rgb(11, 11, 11);
    text-align: center;
    font-size: 3rem;
}
h2{
    color: rgb(33, 33, 33);
    text-align: center;
    font-size: 4rem;
    /* margin: 20px 0; */
}

button{
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: all 0.1s ease;
    justify-content: center;    
}

button:active{
    transform: scale(0.98);
}


#inc{
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    border-radius: 5px;
}

#dec{
    background-color: rgb(244, 67, 54);
    color: white;
    border: none;
    border-radius: 5px;
}